@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

html, body {
    height: 100%;
    font-family: 'Noto Serif TC', serif;
    background-color: #F9F5F2 ;
}

/* Input */
.ring-gray-300 {
    --tw-ring-opacity: 1;
    --tw-ring-color: #F1B150;
}

button, input, optgroup, select, textarea {
    padding: 0.5rem;
    line-height: inherit;
    color: inherit;
}

/* Button color */
.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: #E7788B;
}
.hover\:bg-indigo-500:hover {
    --tw-bg-opacity: 1;
    background-color: #CA4E36;
}

.title-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #F1E5E5;
    text-align: center;
    border-top: 2px solid #E7788B;    
}

.scrollable-container{
    margin-bottom: 80px;
    overflow:hidden;
    overflow-y: auto; /* 啟用垂直滾動 */
}

.scrollable-container-play{
  margin-bottom: 20px;
  overflow:hidden;
  overflow-y: auto; /* 啟用垂直滾動 */
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #F1E5E5;
    text-align: center;
    border-top: 2px solid #E7788B;
  }

.containerPlay{
  max-height: 550px;
  overflow: scroll;
}

/* circle animation */
.circle-container {
    display: flex;
    justify-content: center;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    animation: colorChange 4s steps(1) infinite;
  }
  
  .circle1 {
    animation-delay: 0s;
  }
  
  .circle2 {
    animation-delay: -1s;
  }
  
  .circle3 {
    animation-delay: -2s;
  }
  
  .circle4 {
    animation-delay: -3s;
  }
  
  @keyframes colorChange {
    0% {
      background-color: #55BF99;
    }
    25% {
      background-color: #F1B150;
    }
    50% {
      background-color: #9381BB;
    }
    75% {
      background-color: #E7788B;
    }
    100% {
      background-color: #55BF99;
    }
  }

  /* question form */
  .question{
    padding: 8px 0;
  }
  input{
    display: flex;
    width:100%;
    padding: 0.375rem;
    margin-top: 0.375rem;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid #F1B150;
    background: #FFF;
  }

  /* play question */
  .ques-box {
    align-items: flex-start; 
    gap: 15px;
    width: 100%;
  }
  .bg-pink{
    background-color: #F1E5E5;
  }
  .ques-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
  }
  .w-100{
    width:100px;
  }
  .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: #F1B150;
  }

  /* play circle */
  .bingo-area {
    position: fixed;
    bottom: 58px;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid #E7788B;
    background-color: #F9F5F2;
  }
  .bin-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
  }